<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1> <br>
    
    {% for request in requests %}
        <h1>{{ request.request_description }}</h1>
        <p>Status: {{ request.request_state }}</p>
        <p>User: <a href="{% url 'user_detail' request.user.user_id %}">{{ request.user.user_name }}</a></p>  <!-- Link to user profile -->
        <p>on : {{ request.request_date }}</p>
    {% endfor %}
    
</body>
</html>
